
	  	body{
	  		background-color: gray;
	  	}

  		#logo{
  			text-align: center;
  		}
  		#main{
  			background-color: black;
  			text-align: center;
  			color: lightblue;
  			height: 40px;
  		}
  		footer{
  			background-color: black;
  			color: lightblue;
  			height: 40px;
  			margin-left: 50px;
        margin-top: 100px;
  		}
  		#navText{
  			font-weight: bold;
  		}
		.main{
			margin-left: 80px;
		}
		.main label{
			color: white;
		}
  		.button{
  			font-size:12pt;
  			color:black;
  			background-color:#4aaaa5;
  			width: 100px;
  			margin: 0px;
  			
  		}
     #userGuess, #randNumber {
        font-size: 110px;
      }
      .ucf{
        text-align: center;
      }